/* Media query per desktop (min larghezza: 1024px) */
@media screen and (min-width: 1024px) {

    /* HEADER SECTION */

    /* navigation bar */

    nav {
        padding: 10px 20px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 3em;
        margin: 0;
    }

    .nav-container {
        display: flex;
        gap: 10px;
    }

    /* title section */

    .title-background-picture {
        height: 80vh;
    }

    #title-1 {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    #title-2 {
        position: absolute;
        display: none;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }


}