@media (max-width: 768px) {

    /* HEADER */

    /* navigation bar */

    nav {
        padding: 10px 10px;
        margin: 0 10px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
        margin: 0;
    }

    .nav-container {
        display: flex;
        gap: 5px;
    }

    #menu-button {
        display: none;
    }


    /* title section */

    #title-1 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 2em;
    }

    #title-2 {
        position: absolute;
        display: none;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    /* ANIMATED ARROW */

    .down-arrow {
        position: absolute;
        top: 400px;
        bottom: 40px;
        /* Posiziona la freccia 20px sopra il bordo inferiore della sezione */
        left: 50%;
        width: 0;
        height: 30px;
        border: 2px solid;
        border-radius: 2px;
        display: inline-block;
        animation: jumpInfinite 1.5s infinite;
    }

    /* GRID CONTAINER */

    h3 {
        margin: 1% 5%;
        font-size: 2rem;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    h4 {
        font-size: 1.5rem;
    }

    li {
        text-align: left;
    }

    ul {
        margin-bottom: 4%;
    }

    .grid-container {
        grid-template-columns: 1fr;
        background-color: rgb(222, 213, 213);
        padding: 4%;
    }

    .grid-item {
        margin: 15% 5%;
    }

    .grid-item img {
        height: auto;
        max-width: 100%;
        border-radius: 4%;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        text-align: left;
        gap: 20px;
        margin: 5% 5%;
        background-color: black;
        color: rgb(255, 255, 255);
        padding: 10% 20%;
    }

    .grid-container2 {
        display: none;
    }

    #mobile-photo {
        display: flex;
        flex-direction: column;
        /* Dispone gli elementi in colonna */
        align-items: center;
        /* Centro gli elementi orizzontalmente */
        background-color: rgb(227, 224, 221);
        margin: 5% 5%;
        padding: 2% 2%;
    }

    #mobile-photo img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-top: 2%;
        padding-bottom: 4%;
    }

    #mobile-1 {
        text-align: center;
    }

}