@media (max-width: 768px) {

    /* HEADER */

    /* navigation bar */

    nav {
        padding: 10px 10px;
        margin: 0 10px;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .nav-container {
        display: flex;
        gap: 5px;
    }

    #menu-button {
        display: none;
    }


    /* title section */

    #title-1 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 2em;
    }

    #title-2 {
        position: absolute;
        display: none;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    /* ANIMATED ARROW */

    .down-arrow {
        position: absolute;
        top: 400px;
        bottom: 40px;
        /* Posiziona la freccia 20px sopra il bordo inferiore della sezione */
        left: 50%;
        width: 0;
        height: 30px;
        border: 2px solid;
        border-radius: 2px;
        display: inline-block;
        animation: jumpInfinite 1.5s infinite;
    }

}